<ol class="breadcrumb">
  <li>Dashboard</li>
</ol>
<h1>Dashboard</h1>
<hr />
<div class="list-group" *ngIf="getLists()">
  <div class="well" *ngFor="let list of getLists()">
    <h3>
      {{list.name}}
    </h3>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation">
        <a [routerLink]="['lists', list.id]">
          View Items <span class="badge">{{list.items.length}}</span>
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/dashboard/lists', list.id, 'edit']">
          Edit
          <span class="fa fa-pencil"></span>
        </a>
      </li>
      <li role="presentation">
        <a appDeleteList [list]="list" >
          Delete
          <span class="fa fa-trash"></span>
        </a>
      </li>
    </ul>

  </div>
  <div class="well" *ngIf="getLists().length === 0">
    <h3>You have and empty list,</h3>
    <p>just like my heart since the day she left. LOL</p>
  </div>
</div>
<a class="btn btn-primary" [routerLink]="['new-list']">
  <span class="fa fa-plus"></span> Add New List
</a>
