.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/angular/
spec/dummy/public/app/
config/initializers/unsakini.rb
spec/dummy/config/initializers/
spec/dummy/db/

.byebug_history
