<form name="profileForm">

  <legend>Edit Profile</legend>
  <div class="form-group" ng-class="{'has-error': profileForm.name.$invalid}">
    <label class="control-label">Name</label>
    <input required type="text" class="form-control" name="name" placeholder="Full Name" ng-model="user.name">
    <span class="help-block" ng-show="profileForm.name.$error.required">Required.</span>
  </div>
  <div class="form-group" ng-class="{'has-error': profileForm.email.$invalid}">
    <label class="control-label">Email address</label>
    <input required type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email">
    <span class="help-block" ng-show="profileForm.email.$error.email">Must be a valid email.</span>
    <span class="help-block" ng-show="profileForm.email.$error.required">Required.</span>
  </div>
  <div class="form-group" ng-class="{'has-error': profileForm.old_password.$invalid}">
    <label class="control-label">Current Password</label>
    <input required type="password" class="form-control" name="old_password" placeholder="Current Password" ng-model="user.old_password">
    <span class="help-block" ng-show="profileForm.old_password.$error.required">Required.</span>
  </div>
  <div class="form-group">
    <label class="control-label">New Password</label><small><i>(optional)</i></small>
    <input id="pw1" type="password" class="form-control" name="new_password" placeholder="New Password" ng-model="user.new_password">
  </div>
  <div class="form-group" ng-class="{'has-error': profileForm.confirm_password.$error.confirm_password && profileForm.new_password !== ''}">
    <label for="exampleInputPassword1">Confirm Password</label><small><i>(optional)</i></small>
    <input confirm-password="pw1" type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" ng-model="user.confirm_password">
    <span class="help-block" ng-show="profileForm.confirm_password.$error.confirm_password && profileForm.new_password !== ''">Passwords do not match.</span>
  </div>

  <button ng-disabled="profileForm.$invalid" type="submit" class="btn btn-primary" ng-click="ProfileCtrl.submit()">Submit</button>
</form>