<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h2>Your Board Name</h2>
    </div>
    <div class="col-md-3">
      <div class="btn btn-group pull-right">
        <div class="btn btn-success">Rename Board</div>
        <div class="btn btn-danger">Delete Board</div>
      </div>
    </div>
  </div>
  <hr>
  <p>
    <a href="#" class="btn btn-primary">New Post</a>
  </p>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6" *ngFor="let item of list">
          <div class="panel panel-default post">
            <div class="panel-heading">Hey</div>
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempore voluptatum, ipsum quis laborum quam sed quisquam, dicta dolorem fugiat debitis temporibus deserunt dolorum ipsa dolor quas. Repudiandae, omnis corporis.
            </div>
            <div class="panel-footer">
              5 comments
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Participants</h3>
      <ul class="list-group">
        <li class="list-group-item">
          Adones Pitogo
          <a href="" class="close text-danger pull-right">&times;</a>
        </li>
      </ul>
      <a href="" class="btn btn-primary">Add Participant</a>
    </div>
  </div>
</div>
