#header .btn {
    float: right;
    margin: 2px 0 0 0px;
    height: 38px;
    min-width: 162px;
    padding: 7px;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 22px;
    letter-spacing: 0;
}