<h1>Security Settings</h1>
<hr />
<div class="alert alert-danger">
  New cryptography algorythm has been implemented, base on
  <a href="http://stackoverflow.com/questions/23188593/cryptojs-check-if-aes-passphrase-is-correct">this discussion on SO</a>.
  In the new cryptography algorythm, we prepended the data with HmacSHA256 encryption. This is to be able to tell if the passphrase used in decryption
  is the same as the one used during encryption. If you get <code>Cryptographic Problem Encountered</code> errors, this is because of the new algorythm.
  To get your old data, go to deployed <a (click)="goToOldSource()">old source of www.unsakini.com</a>.
</div>
<form #cryptoKeyForm="ngForm">
  <div class="form-group">
    <label for="key">Set your private key</label>
    <span class="help-block">
      Your private key is used to encrypt and decrypt your data. <strong>Make a copy of it somewhere and don't lose it, else your data will be inaccessible.</strong>
    </span>
    <input type="password" class="form-control" required [(ngModel)]="key" name="keyInput" #keyInput="ngModel">
  </div>
  <div [hidden]="keyInput.valid || keyInput.pristine" class="alert alert-danger">
    Key is required
  </div>
  <button (click)="onSubmit()" type="submit" class="btn btn-primary" [disabled]="!cryptoKeyForm.form.valid">
    Set My Private Key
  </button>
</form>
<hr />
<h2>Delete Private Key</h2>
<p>
  Deleting your private key from this browser will make sure no one can obtain your key while you're away. We will ask for it once you log in back.
</p>
<p>
  If you decide to delete your key from this browser, you will also be <strong>LOGGED OUT</strong> automatically since you can't access your data without your private key.
</p>
<a class="btn btn-default" (click)="showKey = !showKey">
  <span *ngIf="!showKey">Show My Private Key</span>
  <span *ngIf="showKey">Hide My Private Key</span>
</a>
<a class="btn btn-danger" (click)="deleteKey()">
  Delete My Private Key
</a>

<div *ngIf="showKey">
  <hr>
  Click the button to copy your private key and paste it somewhere else in case you forget it.
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="key" placeholder="{{key}}" #inputTarget>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" [ngIIclipboard]="inputTarget" (click)="copied()">copy</button>
    </span>
  </div>
</div>
