<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>List Groups</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="list in lists">
          <a ui-sref="list.items({id: list.id})">{{list.name | decrypt}}</a>
          <a href="" delete-list="list"><i class="fa fa-times" style="float: right;"></i></a>
          <a href="" edit-list="list"><i class="fa fa-pencil" style="float: right; margin-right: 10px;"></i></a>
        </li>
        <li class="list-group-item">
          <i>You don't have any list.</i>
        </li>
      </ul>
      <a ui-sref="list.new" class="btn btn-primary">
        New List
      </a>
    </div>
    <div class="col-md-8" ui-view></div>
  </div>
</div>