<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{list.name | decrypt}}
      <a href="" delete-list="list" class="padd-right">
        <i class="fa fa-trash" style="float: right;"></i>
      </a>
      <a href="" edit-list="list">
        <i class="fa fa-pencil" style="float: right; margin-right: 10px"></i>
      </a>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in list.items">
          <a href="" item-content="item">{{item.title | decrypt | limitTo: 50}}</a>
          <a href="" delete-item="item" class="padd-right">
            <i class="fa fa-trash" style="float: right;"></i>
          </a>
          <a ui-sref="list.edit_item({list_id: list.id, item_id: item.id})">
            <i class="fa fa-pencil" style="float: right; margin-right: 10px"></i>
          </a>
        </li>
        <li class="list-group-item" ng-show="list.items.length === 0">
          <i>No items yet.</i>
        </li>
      </ul>
      <a ui-sref="list.new_item({id: list.id})" class="btn btn-primary">Add Item</a>
    </div>
  </div>
</div>