<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <p class="lead">
      <strong>My Lists</strong>
    </p>
    <ul class="nav nav-sidebar">

      <li *ngFor="let list of getLists()" routerLinkActive="active">
        <a [routerLink]="['lists', list.id]">{{list.name}}</a>
      </li>
      <li>
        <a [routerLink]="['new-list']">
          <i class="fa fa-plus"></i>
          New List
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <router-outlet></router-outlet>
  </div>
</div>
