<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Account Confirmation Failed</title>
  </head>
  <body>
    <h1>Sorry</h1>
    <p>
      No account was associated with that link.
    </p>
  </body>
</html>
