<ol class="breadcrumb">
  <li>
    <a [routerLink]="['/dashboard']">Dashboard</a>
  </li>
  <li>
    {{getList().name}}
  </li>
  <li class="active">Items</li>
</ol>
<h1 class="page-title">
  {{getList().name}}
</h1>
<hr>
<a class="btn btn-primary" [routerLink]="['/dashboard/lists', getList().id, 'edit']">
      Rename
    </a>
<a class="btn btn-danger" (click)="doDeleteList(list)">
      Delete
    </a>
<hr>
<h3>Items</h3>
<hr>
<div class="well" *ngFor="let item of getList().items">
  <h4 class="lead">
    {{item.title}}
  </h4>
  <hr>
  <a class="btn btn-sm btn-success" [routerLink]="['/dashboard/items', item.id]">View</a>
  <a class="btn btn-sm btn-primary" [routerLink]="['/dashboard/items', item.id, 'edit']">Edit</a>
  <a class="btn btn-sm btn-danger" appDeleteItem [item]="item">Delete</a>
  <hr>
  <div class="panel-body" appMarkedText [text]="item.content">
  </div>
</div>
<div class="well" *ngIf="getList().items.length === 0">
  No items yet.
</div>
<a class="btn btn-primary" [routerLink]="['/dashboard/lists', getList().id, 'add-item']">
  <span class="fa fa-plus"></span> Add Item
</a>
