a {
  cursor: pointer;
}

.main-container {
  padding-top: 70px;
}
[hidden] {
  display: none !important;
}

// for login and register screens
.home-forms {
  padding-top: 100px;
}

ng2-slim-loading-bar {
  .slim-loading-bar-progress {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
  }
}