<div class="container home-forms">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="text-center">
        <a href="/">
          <img src="/images/unsakini.svg" width="300px" height="130px">
        </a>
      </h1>
      <hr>
      <p class="lead text-center">
        Create Account
      </p>
      <form #regForm="ngForm" (ngSubmit)="doSubmit($event); false">
        <div *ngIf="success" class="alert alert-success">
          <p>Success! A confirmation link has been sent to {{user.email}}.</p>
        </div>
        <div class="form-group"  [ngClass]="(email.invalid && !email.pristine) || errors.email.length > 0  ? 'has-error' : ''">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="user.email" name="email" #email="ngModel">
          <span class="help-block" *ngFor="let e of errors.email">
            Email {{e}}
          </span>
          <span [hidden]="email.valid || email.pristine" class=" help-block">
            Email is required
          </span>
        </div>
        <div class="form-group"  [ngClass]="(name.invalid && !name.pristine) || errors.name.length > 0  ? 'has-error' : ''">
          <label for="name">name</label>
          <input type="text" class="form-control" id="name" placeholder="name" required [(ngModel)]="user.name" name="name" #name="ngModel">
          <span [hidden]="name.valid || name.pristine" class=" help-block">
            <span class="text-danger">Name is required</span>
          </span>
          <span class="help-block" *ngFor="let e of errors.name">
            Password {{e}}
          </span>
        </div>
        <div class="form-group" [ngClass]="(password.invalid && !password.pristine) || errors.password.length > 0 ? 'has-error' : ''">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="user.password" name="password" #password="ngModel">
          <span [hidden]="password.valid || password.pristine" class="help-block">
            Password is required
          </span>
          <span class="help-block" *ngFor="let e of errors.password">
            Password {{e}}
          </span>
        </div>
        <div class="form-group" [ngClass]="(password_confirmation.invalid && !password_confirmation.pristine) || errors.password_confirmation.length > 0 ? 'has-error' : ''">
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" id="password_confirmation" placeholder="Confirm Password" required [(ngModel)]="user.password_confirmation" name="password_confirmation" #password_confirmation="ngModel">
          <span [hidden]="password_confirmation.valid || password_confirmation.pristine" class="help-block">
            Password confirmation is required
          </span>
          <span class="help-block" *ngFor="let e of errors.password_confirmation">
            Password Confirmation {{e}}
          </span>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <button type="submit" class="btn btn-primary" [disabled]="!regForm.form.valid || submitting">
            <span *ngIf="!submitting">Create Account</span>
            <span *ngIf="submitting">Submitting...</span>
          </button>
        </div>
      </form>
      <hr>
      <p>
        Already have an account? <a [routerLink]="['/login']">Login</a>
      </p>
    </div>
  </div>
</div>


