
<form (ngSubmit)="doSubmit()">
  <div class="alert alert-success" *ngIf="success">Registration successful. Please confirm your email sent to {{user.email}} to proceed.</div>
  <div class="alert alert-danger" *ngIf="errors">
    <p *ngFor="let e of errors">{{e}}</p>
  </div>
  <input type="text" name="name">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="password" name="password_confirmation">
  <button type="submit">Sign Up</button>
</form>

<div (click)="doSubmit()">CLICK ME</div>