<ol class="breadcrumb">
  <li>
    <a [routerLink]="['/dashboard']">Dashboard</a>
  </li>
  <li>
    <a [routerLink]="['/dashboard/lists', list.id]">{{list.name}}</a>
  </li>
  <li class="active">Edit</li>
</ol>
<h1>
  {{list.name}}
</h1>
<hr>
<form #listForm="ngForm">
  <div class="form-group" [ngClass]="(!listForm.form.valid ? 'has-error':'')">
    <input type="text" class="form-control" id="name" placeholder="List Name" required [(ngModel)]="list.name" name="name" #name="ngModel">
  </div>
  <button (click)="onSubmit()" type="submit" class="btn btn-primary" [disabled]="!listForm.form.valid">Rename</button>
  <a class="btn btn-default" [routerLink]="['/dashboard', 'lists', list.id]">Cancel</a>
</form>
<hr />
<h3>Items</h3>
<hr>
<div class="well" *ngFor="let item of list.items">
  <h4 class="lead">
    Title: {{item.title}}
  </h4>
  <hr>
  <a class="btn btn-sm btn-success" [routerLink]="['/dashboard/items', item.id]">View</a>
  <a class="btn btn-sm btn-primary" [routerLink]="['/dashboard/items', item.id, 'edit']">Edit</a>
  <a class="btn btn-sm btn-danger" appDeleteItem [item]="item">Delete</a>
  <hr>
  <div class="panel-body" appMarkedText [text]="item.content">
  </div>
</div>
<div class="well" *ngIf="list.items.length === 0">
  No items yet.
</div>
<a class="btn btn-primary" [routerLink]="['/dashboard/lists', list.id, 'add-item']">
  <span class="fa fa-plus"></span> Add Item
</a>
