<div class="row header" ng-controller="HeaderCtrl as HeaderCtrl">
  <div class="col-xs-12">
    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <a href="" class="dropdown-toggle" uib-dropdown-toggle>
          <img gravatar-src="current_user.email" gravatar-size="100">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            {{current_user.name}}
          </li>
          <li class="divider"></li>
          <li class="link">
            <a ui-sref="settings.profile">
              Profile
            </a>
          </li>
          <li class="link">
            <a ui-sref="settings.passphrase">
              Edit Passphrase
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="" logout>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        Dashboard
      </div>
      <div class="breadcrumb-links">
        <span ncy-breadcrumb-text ncy-breadcrumb-text-separator=" / "></span>
      </div>
    </div>
  </div>
</div>
