
  <div ng-controller="MasterCtrl" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-controller="ListCtrl as ListCtrl">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ui-sref="list">
            Unsakini
          </a>
        </li>
        <li class="sidebar-title"><span>LISTS</span></li>
        <li class="sidebar-list" ng-repeat="list in lists">
          <a ui-sref="list.items({id: list.id})">
            {{ list.name | decrypt | limitTo: 20 }}
          </a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="list.new">
            + New List
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header" ng-controller="HeaderCtrl as HeaderCtrl">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Welcome User!
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="" ng-click="HeaderCtrl.resetPassphrase()">
                      Edit Passphrase
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="" logout>
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="container-fluid" ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->