<div class="modal-content item-content-container">
  <div class="modal-header text-center">
    <div class="modal-title">
      <strong>{{title}}</strong>
    </div>
  </div>
  <div class="modal-body">

    <uib-tabset active="active">
      <uib-tab index="0" heading="View as Plain Text" active="true">
        <div class="plain-text-container">
          <pre>{{plain_text}}</pre>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="View as Markdown">
        <div class="markdown-container">
          <div ng-bind-html="markdown"></div>
        </div>
      </uib-tab>
    </uib-tabset>

  </div>
  <div class="modal-footer">
    <a class="btn btn-primary pull-right" ui-sref="dashboard.edit_item({list_id: item.list_id, item_id: item.id})">
      Edit
    </a>
  </div>
</div>
