<div class="container confirm-account">
  <div class="jumbotron" *ngIf="confirming">
    <h1>
      Confirming your account. Please wait...
    </h1>
  </div>
  <div class="jumbotron" *ngIf="confirmed && !confirming">
    <div>
      <h1>Success!</h1>
      <hr>
      <h3>Account activation succedded.</h3>
      <p>
        You can now sign in to the <a [routerLink]="['/login']">dashboard</a>.
      </p>
    </div>
  </div>
  <div class="jumbotron" *ngIf="!confirmed && !confirming">
    <div>
      <h1>Ouch!</h1>
      <hr>
      <h3>
        Account confirmation failed.
      </h3>
      <p>
        That token is already expired or non-existent.
      </p>
      <p>
        No account yet? <a [routerLink]="['/register']"><b>Sign up</b></a>.
      </p>
    </div>
  </div>
</div>
