<ol class="breadcrumb">
  <li>
    <a [routerLink]="['/dashboard']">Dashboard</a>
  </li>
  <li>
    {{getList().name}}
  </li>
  <li class="active">Items</li>
</ol>
<h1 class="page-title">
  {{getList().name}}
  <ul class="btn btn-group pull-right">
    <a class="btn btn-primary" [routerLink]="['/dashboard/lists', getList().id, 'edit']">
      Rename
    </a>
    <a class="btn btn-danger" (click)="doDeleteList(list)">
      Delete
    </a>
  </ul>
</h1>
<hr>
<h3>Items</h3>
<div class="panel panel-default" *ngFor="let item of getList().items">
  <div class="panel-heading clearfix" style="padding-top: 7.5px;">
    <h1 class="panel-title pull-left"><a [routerLink]="['/dashboard/items', item.id]">{{item.title}}</a></h1>
    <div class="btn-group btn-group-xs pull-right">
      <a class="btn btn-xs btn-primary" [routerLink]="['/dashboard/items', item.id, 'edit']"> edit</a>
      <a class="btn btn-xs btn-danger" appDeleteItem [item]="item"> delete</a>
    </div>
  </div>
  <div class="panel-body" appMarkedText [text]="item.content">
  </div>
</div>

<div class="well" *ngIf="getList().items.length === 0">
  No items yet.
</div>
<a class="btn btn-primary" [routerLink]="['/dashboard/lists', getList().id, 'add-item']">
  <span class="fa fa-plus"></span> Add Item
</a>
