<!doctype html>
<html lang="en">
<head>
  <base href="/app">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Unsakini</title>
  <!-- STYLES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!-- SCRIPTS -->
  <link rel="stylesheet" href="/css/application.css"/>
  <script type="text/javascript" src="/js/application.js"></script>

  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body ui-view>
</body>
</html>
