<!doctype html>
<html>
  <head>
    <base href="/app/">
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app-vendor.css">
  </head>
  <body>
    <my-app>Loading...</my-app>
    <script src="/js/app-vendor.js"></script>

    <script src="/js/app/libs/zone.js/dist/zone.js"></script>
    <script src="/js/app/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </body>
</html>