<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      My Post Title
      <a href="#" class="pull-right">
        <span class="caret" style="color: #fff"></span>
      </a>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias quod doloribus dolores eligendi illo amet nobis iste aperiam, ipsa officiis omnis maiores, rem expedita odit quidem, tempora blanditiis vero.
    </div>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Adones Pitogo</h4>
      <p class="list-group-item-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rerum architecto veniam saepe cum. Fuga nihil quasi iste dolor, similique assumenda, atque distinctio officiis laboriosam eveniet temporibus quas quo mollitia!
      </p>
    </a>
  </div>
</div>
